.innerPassword{
    .item{
        background-color: rgb(255, 255, 255);
        padding: 17px;
        border-radius: 4px;
        margin: 0px 0px 10px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        font-size: 13px;
        line-height: 19px;
        form{
            width: 400px;
            padding: 16px;
            border: 1px solid rgb(235, 235, 240);
            box-sizing: border-box;
            border-radius: 4px;
            margin: 0 auto;
            .form-control {
                display: flex;
                flex-direction: column;
                margin: 0px 0px 16px;
                div {
                    display: flex;
                    flex: 1 1 0%;
                    position: relative;
                    z-index: 1;
                }
                .input-label {
                    font-size: 14px;
                    color: rgb(56, 56, 61);
                    margin-bottom: 4px;
                }
                input.with-icon-right {
                    padding-right: 35px;
                }
                input.has-error {
                    border-color: rgb(255, 66, 79);
                }
                 input {
                    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
                    height: 36px;
                    width: 100%;
                    border-radius: 4px;
                    padding: 10px 12px;
                    line-height: 20px;
                    font-size: 13px;
                    outline: none;
                    flex: 1 1 0%;
                    border: 1px solid rgb(196, 196, 207);
                }
                img {
                    max-width: 100%;
                }
                .icon-right {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 24px;
                }
                .hint-message {
                    color: rgb(56, 56, 61);
                    font-size: 11px;
                    margin-top: 4px;
                }
            }
        }
        .cqEaiM {
            border: 0px;
            width: 100%;
            height: 40px;
            border-radius: 4px;
            color: rgb(255, 255, 255);
            font-size: 14px;
            background-color: rgb(11, 116, 229);
            cursor: pointer;
        }
    }
}